# PANDAS AVANÇADO
---

# CARREGANDO OS DADOS
---

## Configurações do projeto

### Importando pacotes

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.2'

### Opções de configuração

[Documentação](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html)

In [4]:
pd.get_option("display.max_rows")

60

In [5]:
pd.get_option("display.max_columns")

20

[Opções disponíveis](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html#available-options)

In [7]:
pd.describe_option()

compute.use_bottleneck : bool
    Use the bottleneck library to accelerate if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
compute.use_numba : bool
    Use the numba engine option for select operations if it is installed,
    the default is False
    Valid values: False,True
    [default: False] [currently: False]
compute.use_numexpr : bool
    Use the numexpr library to accelerate computation if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
display.chop_threshold : float or None
    if set to a float value, all float values smaller than the given threshold
    will be displayed as exactly 0 by repr and friends.
    [default: None] [currently: None]
display.colheader_justify : 'left'/'right'
    Controls the justification of column headers. used by DataFrameFormatter.
    [default: right] [currently: right]
display.column_space No description available.
    [default: 12] [currently: 12]
display.date_dayfirst : boolean
    When True, prints and parses dates with the day first, eg 20/01/2005
    [default: False] [currently: False]
display.date_yearfirst : boolean
    When True, prints and parses dates with the year first, eg 2005/01/20
    [default: False] [currently: False]
display.encoding : str/unicode
    Defaults to the detected encoding of the console.
    Specifies the encoding to be used for strings returned by to_string,
    these are generally strings meant to be displayed on the console.
    [default: UTF-8] [currently: UTF-8]
display.expand_frame_repr : boolean
    Whether to print out the full DataFrame repr for wide DataFrames across
    multiple lines, `max_columns` is still respected, but the output will
    wrap-around across multiple "pages" if its width exceeds `display.width`.
    [default: True] [currently: True]
display.float_format : callable
    The callable should accept a floating point number and return
    a string with the desired format of the number. This is used
    in some places like SeriesFormatter.
    See formats.format.EngFormatter for an example.
    [default: None] [currently: None]
display.html.border : int
    A ``border=value`` attribute is inserted in the ``<table>`` tag
    for the DataFrame HTML repr.
    [default: 1] [currently: 1]
display.html.table_schema : boolean
    Whether to publish a Table Schema representation for frontends
    that support it.
    (default: False)
    [default: False] [currently: False]
display.html.use_mathjax : boolean
    When True, Jupyter notebook will process table contents using MathJax,
    rendering mathematical expressions enclosed by the dollar symbol.
    (default: True)
    [default: True] [currently: True]
display.large_repr : 'truncate'/'info'
    For DataFrames exceeding max_rows/max_cols, the repr (and HTML repr) can
    show a truncated table (the default from 0.13), or switch to the view from
    df.info() (the behaviour in earlier versions of pandas).
    [default: truncate] [currently: truncate]
display.latex.escape : bool
    This specifies if the to_latex method of a Dataframe uses escapes special
    characters.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.longtable :bool
    This specifies if the to_latex method of a Dataframe uses the longtable
    format.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.multicolumn : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.multicolumn_format : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: l] [currently: l]
display.latex.multirow : bool
    This specifies if the to_latex method of a Dataframe uses multirows
    to pretty-print MultiIndex rows.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.repr : boolean
    Whether to produce a latex DataFrame representation for jupyter
    environments that support it.
    (default: False)
    [default: False] [currently: False]
display.max_categories : int
    This sets the maximum number of categories pandas should output when
    printing out a `Categorical` or a Series of dtype "category".
    [default: 8] [currently: 8]
display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]
display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 50]
display.max_dir_items : int
    The number of items that will be added to `dir(...)`. 'None' value means
    unlimited. Because dir is cached, changing this option will not immediately
    affect already existing dataframes until a column is deleted or added.

    This is for instance used to suggest columns from a dataframe to tab
    completion.
    [default: 100] [currently: 100]
display.max_info_columns : int
    max_info_columns is used in DataFrame.info method to decide if
    per column information will be printed.
    [default: 100] [currently: 100]
display.max_info_rows : int or None
    df.info() will usually show null-counts for each column.
    For large frames this can be quite slow. max_info_rows and max_info_cols
    limit this null check only to frames with smaller dimensions than
    specified.
    [default: 1690785] [currently: 1690785]
display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]
display.max_seq_items : int or None
    When pretty-printing a long sequence, no more then `max_seq_items`
    will be printed. If items are omitted, they will be denoted by the
    addition of "..." to the resulting string.

    If set to None, the number of items to be printed is unlimited.
    [default: 100] [currently: 100]
display.memory_usage : bool, string or None
    This specifies if the memory usage of a DataFrame should be displayed when
    df.info() is called. Valid values True,False,'deep'
    [default: True] [currently: True]
display.min_rows : int
    The numbers of rows to show in a truncated view (when `max_rows` is
    exceeded). Ignored when `max_rows` is set to None or 0. When set to
    None, follows the value of `max_rows`.
    [default: 10] [currently: 10]
display.multi_sparse : boolean
    "sparsify" MultiIndex display (don't display repeated
    elements in outer levels within groups)
    [default: True] [currently: True]
display.notebook_repr_html : boolean
    When True, IPython notebook will use html representation for
    pandas objects (if it is available).
    [default: True] [currently: True]
display.pprint_nest_depth : int
    Controls the number of nested levels to process when pretty-printing
    [default: 3] [currently: 3]
display.precision : int
    Floating point output precision in terms of number of places after the
    decimal, for regular formatting as well as scientific notation. Similar
    to ``precision`` in :meth:`numpy.set_printoptions`.
    [default: 6] [currently: 6]
display.show_dimensions : boolean or 'truncate'
    Whether to print out dimensions at the end of DataFrame repr.
    If 'truncate' is specified, only print out the dimensions if the
    frame is truncated (e.g. not display all rows and/or columns)
    [default: truncate] [currently: truncate]
display.unicode.ambiguous_as_wide : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.unicode.east_asian_width : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.width : int
    Width of the display in characters. In case python/IPython is running in
    a terminal this can be set to None and pandas will correctly auto-detect
    the width.
    Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
    terminal and hence it is not possible to correctly detect the width.
    [default: 80] [currently: 80]
io.excel.ods.reader : string
    The default Excel reader engine for 'ods' files. Available options:
    auto, odf.
    [default: auto] [currently: auto]
io.excel.ods.writer : string
    The default Excel writer engine for 'ods' files. Available options:
    auto, odf.
    [default: auto] [currently: auto]
io.excel.xls.reader : string
    The default Excel reader engine for 'xls' files. Available options:
    auto, xlrd.
    [default: auto] [currently: auto]
io.excel.xls.writer : string
    The default Excel writer engine for 'xls' files. Available options:
    auto, xlwt.
    [default: auto] [currently: auto]
    (Deprecated, use `` instead.)
io.excel.xlsb.reader : string
    The default Excel reader engine for 'xlsb' files. Available options:
    auto, pyxlsb.
    [default: auto] [currently: auto]
io.excel.xlsm.reader : string
    The default Excel reader engine for 'xlsm' files. Available options:
    auto, xlrd, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsm.writer : string
    The default Excel writer engine for 'xlsm' files. Available options:
    auto, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsx.reader : string
    The default Excel reader engine for 'xlsx' files. Available options:
    auto, xlrd, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsx.writer : string
    The default Excel writer engine for 'xlsx' files. Available options:
    auto, openpyxl, xlsxwriter.
    [default: auto] [currently: auto]
io.hdf.default_format : format
    default format writing format, if None, then
    put will default to 'fixed' and append will default to 'table'
    [default: None] [currently: None]
io.hdf.dropna_table : boolean
    drop ALL nan rows when appending to a table
    [default: False] [currently: False]
io.parquet.engine : string
    The default parquet reader/writer engine. Available options:
    'auto', 'pyarrow', 'fastparquet', the default is 'auto'
    [default: auto] [currently: auto]
io.sql.engine : string
    The default sql reader/writer engine. Available options:
    'auto', 'sqlalchemy', the default is 'auto'
    [default: auto] [currently: auto]
mode.chained_assignment : string
    Raise an exception, warn, or no action if trying to use chained assignment,
    The default is warn
    [default: warn] [currently: warn]
mode.copy_on_write : bool
    Use new copy-view behaviour using Copy-on-Write. Defaults to False,
    unless overridden by the 'PANDAS_COPY_ON_WRITE' environment variable
    (if set to "1" for True, needs to be set before pandas is imported).
    [default: False] [currently: False]
mode.data_manager : string
    Internal data manager type; can be "block" or "array". Defaults to "block",
    unless overridden by the 'PANDAS_DATA_MANAGER' environment variable (needs
    to be set before pandas is imported).
    [default: block] [currently: block]
mode.sim_interactive : boolean
    Whether to simulate interactive mode for purposes of testing
    [default: False] [currently: False]
mode.string_storage : string
    The default storage for StringDtype.
    [default: python] [currently: python]
mode.use_inf_as_na : boolean
    True means treat None, NaN, INF, -INF as NA (old way),
    False means None and NaN are null, but INF, -INF are not NA
    (new way).
    [default: False] [currently: False]
mode.use_inf_as_null : boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.
    [default: False] [currently: False]
    (Deprecated, use `mode.use_inf_as_na` instead.)
plotting.backend : str
    The plotting backend to use. The default value is "matplotlib", the
    backend provided with pandas. Other backends can be specified by
    providing the name of the module that implements the backend.
    [default: matplotlib] [currently: matplotlib]
plotting.matplotlib.register_converters : bool or 'auto'.
    Whether to register converters with matplotlib's units registry for
    dates, times, datetimes, and Periods. Toggling to False will remove
    the converters, restoring any converters that pandas overwrote.
    [default: auto] [currently: auto]
styler.format.decimal : str
    The character representation for the decimal separator for floats and complex.
    [default: .] [currently: .]
styler.format.escape : str, optional
    Whether to escape certain characters according to the given context; html or latex.
    [default: None] [currently: None]
styler.format.formatter : str, callable, dict, optional
    A formatter object to be used as default within ``Styler.format``.
    [default: None] [currently: None]
styler.format.na_rep : str, optional
    The string representation for values identified as missing.
    [default: None] [currently: None]
styler.format.precision : int
    The precision for floats and complex numbers.
    [default: 6] [currently: 6]
styler.format.thousands : str, optional
    The character representation for thousands separator for floats, int and complex.
    [default: None] [currently: None]
styler.html.mathjax : bool
    If False will render special CSS classes to table attributes that indicate Mathjax
    will not be used in Jupyter Notebook.
    [default: True] [currently: True]
styler.latex.environment : str
    The environment to replace ``\begin{table}``. If "longtable" is used results
    in a specific longtable environment format.
    [default: None] [currently: None]
styler.latex.hrules : bool
    Whether to add horizontal rules on top and bottom and below the headers.
    [default: False] [currently: False]
styler.latex.multicol_align : {"r", "c", "l", "naive-l", "naive-r"}
    The specifier for horizontal alignment of sparsified LaTeX multicolumns. Pipe
    decorators can also be added to non-naive values to draw vertical
    rules, e.g. "\|r" will draw a rule on the left side of right aligned merged cells.
    [default: r] [currently: r]
styler.latex.multirow_align : {"c", "t", "b"}
    The specifier for vertical alignment of sparsified LaTeX multirows.
    [default: c] [currently: c]
styler.render.encoding : str
    The encoding used for output HTML and LaTeX files.
    [default: utf-8] [currently: utf-8]
styler.render.max_columns : int, optional
    The maximum number of columns that will be rendered. May still be reduced to
    satsify ``max_elements``, which takes precedence.
    [default: None] [currently: None]
styler.render.max_elements : int
    The maximum number of data-cell (<td>) elements that will be rendered before
    trimming will occur over columns, rows or both if needed.
    [default: 262144] [currently: 262144]
styler.render.max_rows : int, optional
    The maximum number of rows that will be rendered. May still be reduced to
    satsify ``max_elements``, which takes precedence.
    [default: None] [currently: None]
styler.render.repr : str
    Determine which output to use in Jupyter Notebook in {"html", "latex"}.
    [default: html] [currently: html]
styler.sparse.columns : bool
    Whether to sparsify the display of hierarchical columns. Setting to False will
    display each explicit level element in a hierarchical key for each column.
    [default: True] [currently: True]
styler.sparse.index : bool
    Whether to sparsify the display of a hierarchical index. Setting to False will
    display each explicit level element in a hierarchical key for each row.
    [default: True] [currently: True]

In [8]:
pd.describe_option("display.max_columns")

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]

In [12]:
import numpy as np

df = pd.DataFrame(np.arange(10000).reshape(100, 100))
df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
1,100,101,102,103,104,105,106,107,108,109,...,190,191,192,193,194,195,196,197,198,199
2,200,201,202,203,204,205,206,207,208,209,...,290,291,292,293,294,295,296,297,298,299
3,300,301,302,303,304,305,306,307,308,309,...,390,391,392,393,394,395,396,397,398,399
4,400,401,402,403,404,405,406,407,408,409,...,490,491,492,493,494,495,496,497,498,499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,9500,9501,9502,9503,9504,9505,9506,9507,9508,9509,...,9590,9591,9592,9593,9594,9595,9596,9597,9598,9599
96,9600,9601,9602,9603,9604,9605,9606,9607,9608,9609,...,9690,9691,9692,9693,9694,9695,9696,9697,9698,9699
97,9700,9701,9702,9703,9704,9705,9706,9707,9708,9709,...,9790,9791,9792,9793,9794,9795,9796,9797,9798,9799
98,9800,9801,9802,9803,9804,9805,9806,9807,9808,9809,...,9890,9891,9892,9893,9894,9895,9896,9897,9898,9899
99,9900,9901,9902,9903,9904,9905,9906,9907,9908,9909,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999

In [15]:
pd.set_option("display.max_rows", 500)
pd.get_option("display.max_columns", 500)

20

In [16]:
df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
1,100,101,102,103,104,105,106,107,108,109,...,190,191,192,193,194,195,196,197,198,199
2,200,201,202,203,204,205,206,207,208,209,...,290,291,292,293,294,295,296,297,298,299
3,300,301,302,303,304,305,306,307,308,309,...,390,391,392,393,394,395,396,397,398,399
4,400,401,402,403,404,405,406,407,408,409,...,490,491,492,493,494,495,496,497,498,499
5,500,501,502,503,504,505,506,507,508,509,...,590,591,592,593,594,595,596,597,598,599
6,600,601,602,603,604,605,606,607,608,609,...,690,691,692,693,694,695,696,697,698,699
7,700,701,702,703,704,705,706,707,708,709,...,790,791,792,793,794,795,796,797,798,799
8,800,801,802,803,804,805,806,807,808,809,...,890,891,892,893,894,895,896,897,898,899
9,900,901,902,903,904,905,906,907,908,909,...,990,991,992,993,994,995,996,997,998,999
10,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,...,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099
11,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,...,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199
12,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,...,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299
13,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309,...,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399
14,1400,1401,1402,1403,1404,1405,1406,1407,1408,1409,...,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499
15,1500,1501,1502,1503,1504,1505,1506,1507,1508,1509,...,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599
16,1600,1601,1602,1603,1604,1605,1606,1607,1608,1609,...,1690,1691,1692,1693,1694,1695,1696,1697,1698,1699
17,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,...,1790,1791,1792,1793,1794,1795,1796,1797,1798,1799
18,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899
19,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
20,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099
21,2100,2101,2102,2103,2104,2105,2106,2107,2108,2109,...,2190,2191,2192,2193,2194,2195,2196,2197,2198,2199
22,2200,2201,2202,2203,2204,2205,2206,2207,2208,2209,...,2290,2291,2292,2293,2294,2295,2296,2297,2298,2299
23,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,...,2390,2391,2392,2393,2394,2395,2396,2397,2398,2399
24,2400,2401,2402,2403,2404,2405,2406,2407,2408,2409,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
25,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,...,2590,2591,2592,2593,2594,2595,2596,2597,2598,2599
26,2600,2601,2602,2603,2604,2605,2606,2607,2608,2609,...,2690,2691,2692,2693,2694,2695,2696,2697,2698,2699
27,2700,2701,2702,2703,2704,2705,2706,2707,2708,2709,...,2790,2791,2792,2793,2794,2795,2796,2797,2798,2799
28,2800,2801,2802,2803,2804,2805,2806,2807,2808,2809,...,2890,2891,2892,2893,2894,2895,2896,2897,2898,2899
29,2900,2901,2902,2903,2904,2905,2906,2907,2908,2909,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
30,3000,3001,3002,3003,3004,3005,3006,3007,3008,3009,...,3090,3091,3092,3093,3094,3095,3096,3097,3098,3099
31,3100,3101,3102,3103,3104,3105,3106,3107,3108,3109,...,3190,3191,3192,3193,3194,3195,3196,3197,3198,3199
32,3200,3201,3202,3203,3204,3205,3206,3207,3208,3209,...,3290,3291,3292,3293,3294,3295,3296,3297,3298,3299
33,3300,3301,3302,3303,3304,3305,3306,3307,3308,3309,...,3390,3391,3392,3393,3394,3395,3396,3397,3398,3399
34,3400,3401,3402,3403,3404,3405,3406,3407,3408,3409,...,3490,3491,3492,3493,3494,3495,3496,3497,3498,3499
35,3500,3501,3502,3503,3504,3505,3506,3507,3508,3509,...,3590,3591,3592,3593,3594,3595,3596,3597,3598,3599
36,3600,3601,3602,3603,3604,3605,3606,3607,3608,3609,...,3690,3691,3692,3693,3694,3695,3696,3697,3698,3699
37,3700,3701,3702,3703,3704,3705,3706,3707,3708,3709,...,3790,3791,3792,3793,3794,3795,3796,3797,3798,3799
38,3800,3801,3802,3803,3804,3805,3806,3807,3808,3809,...,3890,3891,3892,3893,3894,3895,3896,3897,3898,3899
39,3900,3901,3902,3903,3904,3905,3906,3907,3908,3909,...,3990,3991,3992,3993,3994,3995,3996,3997,3998,3999
40,4000,4001,4002,4003,4004,4005,4006,4007,4008,4009,...,4090,4091,4092,4093,4094,4095,4096,4097,4098,4099
41,4100,4101,4102,4103,4104,4105,4106,4107,4108,4109,...,4190,4191,4192,4193,4194,4195,4196,4197,4198,4199
42,4200,4201,4202,4203,4204,4205,4206,4207,4208,4209,...,4290,4291,4292,4293,4294,4295,4296,4297,4298,4299
43,4300,4301,4302,4303,4304,4305,4306,4307,4308,4309,...,4390,4391,4392,4393,4394,4395,4396,4397,4398,4399
44,4400,4401,4402,4403,4404,4405,4406,4407,4408,4409,...,4490,4491,4492,4493,4494,4495,4496,4497,4498,4499
45,4500,4501,4502,4503,4504,4505,4506,4507,4508,4509,...,4590,4591,4592,4593,4594,4595,4596,4597,4598,4599
46,4600,4601,4602,4603,4604,4605,4606,4607,4608,4609,...,4690,4691,4692,4693,4694,4695,4696,4697,4698,4699
47,4700,4701,4702,4703,4704,4705,4706,4707,4708,4709,...,4790,4791,4792,4793,4794,4795,4796,4797,4798,4799
48,4800,4801,4802,4803,4804,4805,4806,4807,4808,4809,...,4890,4891,4892,4893,4894,4895,4896,4897,4898,4899
49,4900,4901,4902,4903,4904,4905,4906,4907,4908,4909,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
50,5000,5001,5002,5003,5004,5005,5006,5007,5008,5009,...,5090,5091,5092,5093,5094,5095,5096,5097,5098,5099
51,5100,5101,5102,5103,5104,5105,5106,5107,5108,5109,...,5190,5191,5192,5193,5194,5195,5196,5197,5198,5199
52,5200,5201,5202,5203,5204,5205,5206,5207,5208,5209,...,5290,5291,5292,5293,5294,5295,5296,5297,5298,5299
53,5300,5301,5302,5303,5304,5305,5306,5307,5308,5309,...,5390,5391,5392,5393,5394,5395,5396,5397,5398,5399
54,5400,5401,5402,5403,5404,5405,5406,5407,5408,5409,...,5490,5491,5492,5493,5494,5495,5496,5497,5498,5499
55,5500,5501,5502,5503,5504,5505,5506,5507,5508,5509,...,5590,5591,5592,5593,5594,5595,5596,5597,5598,5599
56,5600,5601,5602,5603,5604,5605,5606,5607,5608,5609,...,5690,5691,5692,5693,5694,5695,5696,5697,5698,5699
57,5700,5701,5702,5703,5704,5705,5706,5707,5708,5709,...,5790,5791,5792,5793,5794,5795,5796,5797,5798,5799
58,5800,5801,5802,5803,5804,5805,5806,5807,5808,5809,...,5890,5891,5892,5893,5894,5895,5896,5897,5898,5899
59,5900,5901,5902,5903,5904,5905,5906,5907,5908,5909,...,5990,5991,5992,5993,5994,5995,5996,5997,5998,5999
60,6000,6001,6002,6003,6004,6005,6006,6007,6008,6009,...,6090,6091,6092,6093,6094,6095,6096,6097,6098,6099
61,6100,6101,6102,6103,6104,6105,6106,6107,6108,6109,...,6190,6191,6192,6193,6194,6195,6196,6197,6198,6199
62,6200,6201,6202,6203,6204,6205,6206,6207,6208,6209,...,6290,6291,6292,6293,6294,6295,6296,6297,6298,6299
63,6300,6301,6302,6303,6304,6305,6306,6307,6308,6309,...,6390,6391,6392,6393,6394,6395,6396,6397,6398,6399
64,6400,6401,6402,6403,6404,6405,6406,6407,6408,6409,...,6490,6491,6492,6493,6494,6495,6496,6497,6498,6499
65,6500,6501,6502,6503,6504,6505,6506,6507,6508,6509,...,6590,6591,6592,6593,6594,6595,6596,6597,6598,6599
66,6600,6601,6602,6603,6604,6605,6606,6607,6608,6609,...,6690,6691,6692,6693,6694,6695,6696,6697,6698,6699
67,6700,6701,6702,6703,6704,6705,6706,6707,6708,6709,...,6790,6791,6792,6793,6794,6795,6796,6797,6798,6799
68,6800,6801,6802,6803,6804,6805,6806,6807,6808,6809,...,6890,6891,6892,6893,6894,6895,6896,6897,6898,6899
69,6900,6901,6902,6903,6904,6905,6906,6907,6908,6909,...,6990,6991,6992,6993,6994,6995,6996,6997,6998,6999
70,7000,7001,7002,7003,7004,7005,7006,7007,7008,7009,...,7090,7091,7092,7093,7094,7095,7096,7097,7098,7099
71,7100,7101,7102,7103,7104,7105,7106,7107,7108,7109,...,7190,7191,7192,7193,7194,7195,7196,7197,7198,7199
72,7200,7201,7202,7203,7204,7205,7206,7207,7208,7209,...,7290,7291,7292,7293,7294,7295,7296,7297,7298,7299
73,7300,7301,7302,7303,7304,7305,7306,7307,7308,7309,...,7390,7391,7392,7393,7394,7395,7396,7397,7398,7399
74,7400,7401,7402,7403,7404,7405,7406,7407,7408,7409,...,7490,7491,7492,7493,7494,7495,7496,7497,7498,7499
75,7500,7501,7502,7503,7504,7505,7506,7507,7508,7509,...,7590,7591,7592,7593,7594,7595,7596,7597,7598,7599
76,7600,7601,7602,7603,7604,7605,7606,7607,7608,7609,...,7690,7691,7692,7693,7694,7695,7696,7697,7698,7699
77,7700,7701,7702,7703,7704,7705,7706,7707,7708,7709,...,7790,7791,7792,7793,7794,7795,7796,7797,7798,7799
78,7800,7801,7802,7803,7804,7805,7806,7807,7808,7809,...,7890,7891,7892,7893,7894,7895,7896,7897,7898,7899
79,7900,7901,7902,7903,7904,7905,7906,7907,7908,7909,...,7990,7991,7992,7993,7994,7995,7996,7997,7998,7999
80,8000,8001,8002,8003,8004,8005,8006,8007,8008,8009,...,8090,8091,8092,8093,8094,8095,8096,8097,8098,8099
81,8100,8101,8102,8103,8104,8105,8106,8107,8108,8109,...,8190,8191,8192,8193,8194,8195,8196,8197,8198,8199
82,8200,8201,8202,8203,8204,8205,8206,8207,8208,8209,...,8290,8291,8292,8293,8294,8295,8296,8297,8298,8299
83,8300,8301,8302,8303,8304,8305,8306,8307,8308,8309,...,8390,8391,8392,8393,8394,8395,8396,8397,8398,8399
84,8400,8401,8402,8403,8404,8405,8406,8407,8408,8409,...,8490,8491,8492,8493,8494,8495,8496,8497,8498,8499
85,8500,8501,8502,8503,8504,8505,8506,8507,8508,8509,...,8590,8591,8592,8593,8594,8595,8596,8597,8598,8599
86,8600,8601,8602,8603,8604,8605,8606,8607,8608,8609,...,8690,8691,8692,8693,8694,8695,8696,8697,8698,8699
87,8700,8701,8702,8703,8704,8705,8706,8707,8708,8709,...,8790,8791,8792,8793,8794,8795,8796,8797,8798,8799
88,8800,8801,8802,8803,8804,8805,8806,8807,8808,8809,...,8890,8891,8892,8893,8894,8895,8896,8897,8898,8899
89,8900,8901,8902,8903,8904,8905,8906,8907,8908,8909,...,8990,8991,8992,8993,8994,8995,8996,8997,8998,8999
90,9000,9001,9002,9003,9004,9005,9006,9007,9008,9009,...,9090,9091,9092,9093,9094,9095,9096,9097,9098,9099
91,9100,9101,9102,9103,9104,9105,9106,9107,9108,9109,...,9190,9191,9192,9193,9194,9195,9196,9197,9198,9199
92,9200,9201,9202,9203,9204,9205,9206,9207,9208,9209,...,9290,9291,9292,9293,9294,9295,9296,9297,9298,9299
93,9300,9301,9302,9303,9304,9305,9306,9307,9308,9309,...,9390,9391,9392,9393,9394,9395,9396,9397,9398,9399
94,9400,9401,9402,9403,9404,9405,9406,9407,9408,9409,...,9490,9491,9492,9493,9494,9495,9496,9497,9498,9499
95,9500,9501,9502,9503,9504,9505,9506,9507,9508,9509,...,9590,9591,9592,9593,9594,9595,9596,9597,9598,9599
96,9600,9601,9602,9603,9604,9605,9606,9607,9608,9609,...,9690,9691,9692,9693,9694,9695,9696,9697,9698,9699
97,9700,9701,9702,9703,9704,9705,9706,9707,9708,9709,...,9790,9791,9792,9793,9794,9795,9796,9797,9798,9799
98,9800,9801,9802,9803,9804,9805,9806,9807,9808,9809,...,9890,9891,9892,9893,9894,9895,9896,9897,9898,9899
99,9900,9901,9902,9903,9904,9905,9906,9907,9908,9909,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999

In [17]:
pd.reset_option("display.max_rows")

In [18]:
df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
1,100,101,102,103,104,105,106,107,108,109,...,190,191,192,193,194,195,196,197,198,199
2,200,201,202,203,204,205,206,207,208,209,...,290,291,292,293,294,295,296,297,298,299
3,300,301,302,303,304,305,306,307,308,309,...,390,391,392,393,394,395,396,397,398,399
4,400,401,402,403,404,405,406,407,408,409,...,490,491,492,493,494,495,496,497,498,499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,9500,9501,9502,9503,9504,9505,9506,9507,9508,9509,...,9590,9591,9592,9593,9594,9595,9596,9597,9598,9599
96,9600,9601,9602,9603,9604,9605,9606,9607,9608,9609,...,9690,9691,9692,9693,9694,9695,9696,9697,9698,9699
97,9700,9701,9702,9703,9704,9705,9706,9707,9708,9709,...,9790,9791,9792,9793,9794,9795,9796,9797,9798,9799
98,9800,9801,9802,9803,9804,9805,9806,9807,9808,9809,...,9890,9891,9892,9893,9894,9895,9896,9897,9898,9899
99,9900,9901,9902,9903,9904,9905,9906,9907,9908,9909,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999

## Carregando os dados

### Arquivos JSON - `read_json`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_json.html)

## JSON

JSON (**J**ava**S**cript **O**bject **N**otation - Notação de Objetos JavaScript) é uma formatação leve de troca de dados. Para seres humanos, é fácil de ler e escrever. Para máquinas, é fácil de interpretar e gerar. Está baseado em um subconjunto da linguagem de programação JavaScript, Standard ECMA-262 3a Edição - Dezembro - 1999. JSON é em formato texto e completamente independente de linguagem, pois usa convenções que são familiares às linguagens C e familiares, incluindo C++, C#, Java, JavaScript, Perl, Python e muitas outras. Estas propriedades fazem com que JSON seja um formato ideal de troca de dados.

[fonte](https://www.json.org/json-pt.html)

[Online JSON Viewer](http://jsonviewer.stack.hu/)

In [19]:
data_json = '{"A": [1, 2, 3, 4] ,"B": [5, 6, 7, 8], "C": [9, 10, 11, 12]}' 
data_json

'{"A": [1, 2, 3, 4] ,"B": [5, 6, 7, 8], "C": [9, 10, 11, 12]}'

In [21]:
dados = pd.read_json(
    path_or_buf=data_json
)

dados

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [22]:
dados = pd.read_json(
    path_or_buf=data_json,
    orient='index'
)

dados

   0   1   2   3
A  1   2   3   4
B  5   6   7   8
C  9  10  11  12

In [23]:
dados = pd.read_json(
    path_or_buf=data_json,
    orient='columns'
)

dados

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [24]:
dados = pd.read_json(
    path_or_buf='realestates.json',
    orient='columns'
)

dados

,normal,highlights
output,{'listings': [{'imovel': {'tipos': {'proprieda...,{'listings': [{'imovel': {'tipos': {'proprieda...

### Arquivos EXCEL - `read_excel`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html)

In [28]:
bairros = pd.read_excel(
    io="bairros.xlsx",
    sheet_name="Preço médio por tipo",
    usecols="C:E",
    header=2
)

bairros

            Bairros             Tipos  Valor do m²
0     São Cristóvão              Casa        13793
1     São Cristóvão       Apartamento         6306
2     São Cristóvão         Cobertura        11695
3     São Cristóvão       Consultório         6991
4     São Cristóvão  Imóvel Comercial        19633
...             ...               ...          ...
1122   Vista Alegre         Cobertura        16567
1123   Vista Alegre       Consultório         5812
1124   Vista Alegre  Imóvel Comercial        12895
1125   Vista Alegre              Loja         6182
1126   Vista Alegre    Sala Comercial         3377

[1127 rows x 3 columns]

In [29]:
bairros = pd.read_excel(
    io="bairros.xlsx",
    sheet_name="Preço médio por tipo",
    usecols="C:E",
    header=2,
    index_col=[0, 1],
    names=['bairros', 'tipo', 'valor_m2_bairro']
)

bairros

                                valor_m2_bairro
bairros       tipo
São Cristóvão Casa                        13793
              Apartamento                  6306
              Cobertura                   11695
              Consultório                  6991
              Imóvel Comercial            19633
...                                         ...
Vista Alegre  Cobertura                   16567
              Consultório                  5812
              Imóvel Comercial            12895
              Loja                         6182
              Sala Comercial               3377

[1127 rows x 1 columns]

# TRANSFORMANDO E TRATANDO OS DADOS
---

## Transformando dados no formato JSON para uma tabela

### `json_normalize`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.json_normalize.html)

## Trabalhando com dados textuais

### Transformando *strings* em listas do Python

#### Métodos de *strings*

[Documentação](https://docs.python.org/3.6/library/stdtypes.html#string-methods)

#### `str`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.html)

#### `filter`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.filter.html)

# COMBINANDO CONJUNTOS DE DADOS
---

## Empilhando *DataFrames*

### `append`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.append.html)

### `concat`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html)

## Combinando *DataFrames* a partir de uma chave de ligação

### Tratando a variável de ligação

#### Selecionando a variável de ligação nos dois *DataFrames*

[Documentação: `get_level_values`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.MultiIndex.get_level_values.html)

#### Identificando e eliminando valores duplicados - `nunique` e `unique`

[Documentação: `nunique`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.nunique.html)

[Documentação: `unique`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html)

---

#### Verificando se existe correspondência entre as variáveis de ligação

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.isin.html)

#### Ajustando os valores

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.replace.html)

### Combinando os *DataFrames*

#### `merge`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.merge.html)

```
pandas.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes='_x', '_y', copy=True, indicator=False, validate=None)
```

**Parameters**

- **left**: DataFrame


- **right**: DataFrame
    

- **how**: {‘left’, ‘right’, ‘outer’, ‘inner’}, *default* ‘inner’

        Tipo de junção que será realizada.

        - left: usa apenas as chaves do DataFrame especificado no parâmetro left.

        - right: usa apenas as chaves do DataFrame especificado no parâmetro right.

        - outer: considera todos os registros dos DataFrames especificados nos parâmetros left e right, isto é, faz a união das chaves.

        - inner: considera apenas a interseção das chaves dos DataFrames especificados nos parâmetros left e right.
    

- **on**: label ou list

        Nomes das colunas ou dos índices que serão utilizados na junção. Estes devem ser encontrados em ambos os DataFrames.
        

- **left_on**: label ou list, or array-like

        Nomes das colunas ou dos índices do DataFrame especificado em left que serão utilizados na junção.
        

- **right_on**: label or list, or array-like

        Nomes das colunas ou dos índices do DataFrame especificado em right que serão utilizados na junção.
    

- **left_index**: bool, *default False*

        Indica se o índice do DataFrame especificado no parâmetro left deve ser utilizado como chave de junção.
        

- **right_index**: bool, *default False*

        Indica se o índice do DataFrame especificado no parâmetro right deve ser utilizado como chave de junção.

# ADICIONANDO INFORMAÇÕES
---

## Criando as colunas `quartos`, `suites` e `banheiros`

### `str.extractall`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.extractall.html)

### `unstack`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.unstack.html)

### `droplevel`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.droplevel.html)

## Criando novas classificações

### Com dados categóricos - `map`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.map.html)

In [ ]:
tipo_uso = {
    'Apartamento': 'Residencial',
    'Casa': 'Residencial',
    'Cobertura': 'Residencial',
    'Consultório': 'Comercial',
    'Imóvel Comercial': 'Comercial',
    'Loja': 'Comercial',
    'Sala Comercial': 'Comercial'
}

#### `insert`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.insert.html)

### Com dados numéricos - `cut`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html)

#### Utilizando classes fixas

#### Utilizando classes personalizadas

## Novas colunas derivadas das informações existentes

### Valor por m²

#### `apply`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html)

### Piscina?

# TABULAÇÕES E SUMARIZAÇÕES
---

## Agrupamentos

### `aggregate`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.aggregate.html)

### `groupby`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html)

### `value_counts`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.value_counts.html)

#### `to_frame`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.to_frame.html)

## Mudando o formato de um *DataFrame*

### `unstack`

Faz a rotação ou o pivoteamento das linhas para as colunas.

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.unstack.html)

### `stack`

Faz a rotação ou o pivoteamento das colunas de um *DataFrame* para as linhas.

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.stack.html)

## Criando tabelas dinâmicas

### `pivot`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html)

#### `droplevel`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.droplevel.html)

#### `reset_index`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html)

### `pivot_table`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html)

# TABULAÇÕES E ESTILIZAÇÃO
---

## Tabulações a partir de informações no formato de listas

### `explode`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.explode.html)

#### `where`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.where.html)

## Estilizando um DataFrame

### `style`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.style.html)

#### `format`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.formats.style.Styler.format.html)

#### `bar`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.formats.style.Styler.bar.html)

#### `applymap`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.formats.style.Styler.applymap.html)

#### `highlight_max` e `highlight_min`

[Documentação: `highlight_max`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.formats.style.Styler.highlight_max.html)

[Documentação: `highlight_min`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.formats.style.Styler.highlight_min.html)

#### `background_gradient`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.formats.style.Styler.background_gradient.html)

#### `to_excel`

[Documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.formats.style.Styler.to_excel.html)

# ANEXOS
---

### Opções para o parâmetro `cmap`

[Documentação](https://matplotlib.org/3.3.2/tutorials/colors/colormaps.html)

In [ ]:
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
from matplotlib import cm
from collections import OrderedDict

cmaps = OrderedDict()

In [ ]:
cmaps['Perceptually Uniform Sequential'] = [
            'viridis', 'plasma', 'inferno', 'magma', 'cividis']

cmaps['Sequential'] = [
            'Greys', 'Purples', 'Blues', 'Greens', 'Oranges', 'Reds',
            'YlOrBr', 'YlOrRd', 'OrRd', 'PuRd', 'RdPu', 'BuPu',
            'GnBu', 'PuBu', 'YlGnBu', 'PuBuGn', 'BuGn', 'YlGn']

cmaps['Sequential (2)'] = [
            'binary', 'gist_yarg', 'gist_gray', 'gray', 'bone', 'pink',
            'spring', 'summer', 'autumn', 'winter', 'cool', 'Wistia',
            'hot', 'afmhot', 'gist_heat', 'copper']

cmaps['Diverging'] = [
            'PiYG', 'PRGn', 'BrBG', 'PuOr', 'RdGy', 'RdBu',
            'RdYlBu', 'RdYlGn', 'Spectral', 'coolwarm', 'bwr', 'seismic']

cmaps['Cyclic'] = ['twilight', 'twilight_shifted', 'hsv']

cmaps['Qualitative'] = ['Pastel1', 'Pastel2', 'Paired', 'Accent',
                        'Dark2', 'Set1', 'Set2', 'Set3',
                        'tab10', 'tab20', 'tab20b', 'tab20c']

cmaps['Miscellaneous'] = [
            'flag', 'prism', 'ocean', 'gist_earth', 'terrain', 'gist_stern',
            'gnuplot', 'gnuplot2', 'CMRmap', 'cubehelix', 'brg',
            'gist_rainbow', 'rainbow', 'jet', 'nipy_spectral',
            'gist_ncar']

In [ ]:
nrows = max(len(cmap_list) for cmap_category, cmap_list in cmaps.items())
gradient = np.linspace(0, 1, 256)
gradient = np.vstack((gradient, gradient))


def plot_color_gradients(cmap_category, cmap_list, nrows):
    fig, axes = plt.subplots(nrows=nrows)
    fig.subplots_adjust(top=0.95, bottom=0.01, left=0.2, right=0.99)
    axes[0].set_title(cmap_category + ' colormaps', fontsize=14)

    for ax, name in zip(axes, cmap_list):
        ax.imshow(gradient, aspect='auto', cmap=plt.get_cmap(name))
        pos = list(ax.get_position().bounds)
        x_text = pos[0] - 0.01
        y_text = pos[1] + pos[3]/2.
        fig.text(x_text, y_text, name, va='center', ha='right', fontsize=10)

    # Turn off *all* ticks & spines, not just the ones with colormaps.
    for ax in axes:
        ax.set_axis_off()


for cmap_category, cmap_list in cmaps.items():
    plot_color_gradients(cmap_category, cmap_list, nrows)

plt.show()